@media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }
    .header {
        flex-direction: row;
        justify-content: space-between;
    }
    .menu-icon{
        display: block;
   
    }

    .menu-section {
        flex-direction: column;
        justify-content: flex-start;
        transition: 1s;
        align-items: baseline;
        border-radius: 10px;
        height: 100vh;
    }
    .my{
        left: 0 !important;
  }
      .menu-section {
        position: relative;
        left: -150px;
    }
      
    
      .menu-section .ul-menu {
        width: 62px;
    }
      
    
  
  }