@media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }
    .header {
        flex-direction: row;
        justify-content: space-between;
    }
    .menu-icon{
        display: block;
        position: fixed;
        float: right !important;
        
        right: 0;
        z-index: 1;
   
    }

    .menu-section {
        flex-direction: column;
        justify-content: flex-start;
        transition: 1s;
        align-items: baseline;
        border-radius: 10px;
        height: 100vh;
        position: fixed !important;
        z-index: 12;
    top: 0;
    }
    .my{
        left: 0 !important;
  }
      .menu-section {
        position: relative;
        left: -150px;
    }
      
    
      .menu-section .ul-menu {
        width: 62px;
    }
      
    

  }
  @media only screen and (max-width: 560px) {
    .popup{
        height: 147px;
        overflow-y: scroll;
        background: #faebd7b5;
        margin-inline: auto;
      }
  }
